{
	"alignObjectProperties": true,
	"arrayExpand": true,
	"autoScroll": true,
	"bracesSpacing": true,
	"bracketSpacing": true,
	"breakBeforeElse": false,
	"breakProperty": false,
	"cssEnable": ["css", "less", "scss", "postcss"],
	"endOfLine": "auto",
	"eslintIntegration": true,
	"flattenTernaries": false,
	"graphqlEnable": ["graphql"],
	"htmlWhitespaceSensitivity": "strict",
	"javascriptEnable": ["javascript", "javascriptreact"],
	"jsonEnable": ["json"],
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true,
	"noSpaceEmptyFn": false,
	"openOutput": true,
	"printWidth": 120,
	"proseWrap": "always",
	"requireConfig": false,
	"semi": true,
	"singleQuote": true,
	"spaceBeforeFunctionParen": true,
	"statusBar": true,
	"styleIntegration": true,
	"stylelintIntegration": false,
	"tabWidth": 4,
	"trailingComma": "all",
	"tslintIntegration": true,
	"typescriptEnable": ["typescript", "typescriptreact"],
	"useTabs": true
}
